html {
    background-color: grey;
}
body {
    margin: auto;
    width: 95%;
    height: 100%;
    padding: 30px;
    background-image: linear-gradient(to bottom right, white, grey);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h3 {
    text-align: right;
}

/* images */
img {
    width: 250px;
    border: 2px solid grey;
    border-radius: 20px;
    transition: 1s;
}

img:hover {
    border-radius: 0px;
    background-color: RGBA(255, 255, 255, 0.5);
    border-color: white;
    transition: 1s;
}

#dice, #operators {
    border-radius: 200px;
}

#vivaldi {
    width: 500px;
}

/* table */
table {
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
td {
    border: 2px white solid;
    padding: 10px;
}